//fonts
$font: 'Maven Pro', sans-serif
$regular: 400
$medium: 500
$bold: 700
$black: 900

// colors 
$darkBlue: #2F2E41
$blue: #05386B
$darkGreen: #379683
$green: #5CDB95
$lightGreen: #8EE4AF
$lightestGreen: #B5F5CE
$whitishGreen: #EDF5E1
$red: #FF5A58

// mixins
@mixin flex($align: center, $justify: center)
  display: flex
  align-items: $align
  justify-content: $justify

// animations
@keyframes from-left
  0%
    left: -10px
    opacity: 0
  100%
    left: 0
    opacity: 1

@keyframes from-right
  0%
    right: -10px
    opacity: 0
  100%
    right: 0
    opacity: 1

@keyframes from-top
  0%
    opacity: 0
    top: -20px
  100%
    opacity: 1
    top: 0
