@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700;900&display=swap");
@keyframes from-left {
  0% {
    left: -10px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes from-right {
  0% {
    right: -10px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes from-top {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Maven Pro", sans-serif;
  font-size: 10px;
  outline: none;
  text-decoration: none;
}

body {
  background-color: #5CDB95;
}

nav {
  background-color: #05386B;
  display: flex;
  align-items: center;
  height: 90px;
  width: 100%;
}

main {
  max-width: 1000px;
  width: 1000px;
  margin: 0 auto;
  min-height: calc(100vh - 160px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  width: 100%;
  margin: 0 auto;
  background-color: #8EE4AF;
  display: flex;
  align-items: center;
  height: 70px;
}

.btn {
  height: 50px;
  padding: 0 3rem;
  border: none;
  border-radius: 25px;
}

.bold {
  font-weight: 500;
}

.text-wrapper {
  width: 45%;
  padding: 0 1.5rem;
  position: relative;
  animation: from-left 0.25s;
}

.title {
  font-weight: 700;
  font-size: 3.2rem;
  color: #05386B;
}

.title--unbold {
  font-weight: 400;
  font-size: 3.2rem;
}

.title--hashes,
.title--hashes span {
  font-size: 1.6rem;
  color: #05386B;
  margin-bottom: 55px;
}

.text-wrapper--subtitle {
  color: #05386B;
}

.text-wrapper--subtitle p,
.text-wrapper--subtitle p span {
  font-size: 2rem;
}

.text-wrapper--subtitle--first-paragraph {
  margin-bottom: 25px;
}

.button-play-now {
  margin-top: 55px;
  border: 2px solid #05386B;
  background-color: #05386B;
  color: #5CDB95;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.button-play-now:hover {
  background-color: #5CDB95;
  font-weight: 500;
  color: #05386B;
}

.image-wrapper {
  height: 500px;
  width: 55%;
  background-image: url(../../images/home-quiz.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  animation: from-top 0.25s;
}

.menu-container {
  padding: 100px 0;
  width: 85%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.one,
.two,
.three {
  width: 90%;
  height: 250px;
  position: relative;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.one {
  align-self: flex-start;
  border-radius: 0 0 0 50px;
  border-left: 4px solid #2F2E41;
  border-bottom: 4px solid #2F2E41;
}

.two {
  align-self: flex-end;
  top: -4px;
  border-radius: 0 50px 50px 0;
  border-right: 4px solid #2F2E41;
  border-top: 4px solid #2F2E41;
  border-bottom: 4px solid #2F2E41;
}

.three {
  align-self: flex-start;
  top: -8px;
  border-radius: 50px 0 0 0;
  border-left: 4px solid #2F2E41;
  border-top: 4px solid #2F2E41;
}

.step-number {
  font-size: 2.8rem;
  font-weight: 900;
  color: #05386B;
  background-color: #5CDB95;
  width: 50px;
  height: 50px;
  border: 4px solid #2F2E41;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-one,
.step-three {
  left: -27px;
}

.step-two {
  right: -27px;
}

.step-image {
  position: relative;
  bottom: -1px;
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.image-one img {
  width: 300px;
  position: relative;
  animation: from-right 0.25s;
}

.image-two img {
  width: 200px;
  position: relative;
  animation: from-left 0.25s;
}

.image-three img {
  width: 300px;
  position: relative;
  animation: from-right 0.25s;
}

.step-text-container {
  padding: 0 30px;
  position: relative;
  animation: from-left 0.25s;
}

.text-question {
  animation: from-right 0.25s;
}

.step-text-container h2 {
  font-size: 3rem;
  color: #05386B;
}

.step-text-container p,
.step-text-container span {
  color: #2F2E41;
  font-size: 1.8rem;
  margin: 10px 0 30px 0;
}

.step-text-container button {
  height: 40px;
  color: #5CDB95;
  font-size: 1.4rem;
  font-weight: 500;
  border: 1.5px solid #05386B;
  background-color: #05386B;
  cursor: pointer;
  transition: backgroud-color 0.15s, color 0.15s;
}

.step-text-container button:hover {
  background-color: #5CDB95;
  color: #05386B;
}

.navigation-container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo--image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #5CDB95;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo--text {
  margin-left: 12px;
  color: #5CDB95;
}

.logo--text--title {
  font-size: 3rem;
  font-weight: 400;
}

.logo--text--title--span {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.logo--text--subtitle {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 3.5px;
}

.navigation-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-links--item {
  cursor: pointer;
  border-bottom: 1px solid #05386B;
}

.navigation-links--item:last-child {
  cursor: pointer;
  padding: 0;
  width: 100px;
  height: 40px;
  background-color: #5CDB95;
  border: 1.5px solid #5CDB95;
  border-radius: 20px;
  margin-left: 20px;
  transition: background-color 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-links--item:last-child:hover {
  background-color: #05386B;
}

.navigation-links--item:last-child:hover > .play {
  color: #5CDB95;
}

.navigation-links--link {
  padding: 1rem 2rem;
  font-size: 1.8rem;
  color: #5CDB95;
  letter-spacing: 1.5px;
  font-weight: 400;
  text-decoration: none;
  transition: border-bottom 1s;
}

.navigation-links--link:hover {
  border-bottom: 1px solid #5CDB95;
}

.play:hover {
  border: none;
}

.play {
  color: #05386B;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.15s;
}

.rules-text-wrapper {
  width: 50%;
  padding: 0 20px;
  position: relative;
  animation: from-left 0.25s;
}

.rule-title {
  position: relative;
  margin-bottom: 15px;
}

.rule-title,
.rule-title,
.rule-title-jk {
  color: #05386B;
  font-weight: 500;
  font-size: 3.6rem;
}

.upper-text {
  position: relative;
  top: -15px;
}

.rule-title .rule-title--unbold {
  font-size: 3.6rem;
  font-weight: 400;
}

.rule-title .bold {
  font-weight: 700;
  font-size: 3.6rem;
}

.rule-title-jk {
  margin-bottom: 60px;
}

.rules-text p,
.rules-text p .bold {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: #05386B;
  line-height: 30px;
}

.rules-image-wrapper {
  position: relative;
  animation: from-top 0.25s;
}

.footer-container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.made-by--text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.made-by--text,
.made-by--text span {
  color: #05386B;
  font-size: 1.5rem;
}

.made-by--text span {
  margin-left: 4px;
}

.heart {
  margin: 0 5px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social--item:first-child {
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */