@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700;900&display=swap");
@keyframes from-left {
  0% {
    left: -10px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes from-top {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Maven Pro", sans-serif;
  font-size: 10px;
}

body {
  background-color: #5CDB95;
}

nav {
  background-color: #05386B;
  display: flex;
  align-items: center;
  height: 90px;
  width: 100%;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  min-height: calc(100vh - 160px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  width: 100%;
  margin: 0 auto;
  background-color: #8EE4AF;
  display: flex;
  align-items: center;
  height: 70px;
}

.btn {
  height: 50px;
  padding: 0 3rem;
  border: none;
  border-radius: 25px;
}

.bold {
  font-weight: 500;
}

.text-wrapper {
  width: 45%;
  padding: 0 1.5rem;
  position: relative;
  animation: from-left 0.25s;
}

.title {
  font-weight: 700;
  font-size: 3.2rem;
  color: #05386B;
}

.title--unbold {
  font-weight: 400;
  font-size: 3.2rem;
}

.title--hashes,
.title--hashes span {
  font-size: 1.6rem;
  color: #05386B;
  margin-bottom: 55px;
}

.text-wrapper--subtitle {
  color: #05386B;
}

.text-wrapper--subtitle p,
.text-wrapper--subtitle p span {
  font-size: 2rem;
}

.text-wrapper--subtitle--first-paragraph {
  margin-bottom: 25px;
}

.button-play-now {
  margin-top: 55px;
  border: 2px solid #05386B;
  background-color: #05386B;
  color: #5CDB95;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.button-play-now:hover {
  background-color: #5CDB95;
  font-weight: 500;
  color: #05386B;
}

.image-wrapper {
  height: 500px;
  width: 55%;
  background-image: url(../../images/home-quiz.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  animation: from-top 0.25s;
}

.navigation-container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo--image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #5CDB95;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo--text {
  margin-left: 12px;
  color: #5CDB95;
}

.logo--text--title {
  font-size: 3rem;
  font-weight: 400;
}

.logo--text--title--span {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.logo--text--subtitle {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 3.5px;
}

.navigation-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-links--item {
  cursor: pointer;
  padding: 1rem 2rem;
  border-bottom: 1px solid #05386B;
  transition: border-bottom 0.15s;
}

.navigation-links--item:hover {
  border-bottom: 1px solid #5CDB95;
}

.navigation-links--item:last-child {
  cursor: pointer;
  padding: 0;
  width: 100px;
  height: 40px;
  background-color: #5CDB95;
  border: 1.5px solid #5CDB95;
  border-radius: 20px;
  margin-left: 20px;
  transition: background-color 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-links--item:last-child:hover {
  background-color: #05386B;
}

.navigation-links--item:last-child:hover > .play {
  color: #5CDB95;
}

.navigation-links--link {
  font-size: 1.8rem;
  color: #5CDB95;
  letter-spacing: 1.5px;
  font-weight: 400;
  text-decoration: none;
}

.play {
  color: #05386B;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.15s;
}

.rules-text-wrapper {
  width: 50%;
  padding: 0 20px;
  position: relative;
  animation: from-left 0.25s;
}

.rule-title {
  position: relative;
  margin-bottom: 15px;
}

.rule-title,
.rule-title,
.rule-title-jk {
  color: #05386B;
  font-weight: 500;
  font-size: 3.6rem;
}

.upper-text {
  position: relative;
  top: -15px;
}

.rule-title .rule-title--unbold {
  font-size: 3.6rem;
  font-weight: 400;
}

.rule-title .bold {
  font-weight: 700;
  font-size: 3.6rem;
}

.rule-title-jk {
  margin-bottom: 60px;
}

.rules-text p,
.rules-text p .bold {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: #05386B;
  line-height: 30px;
}

.rules-image-wrapper {
  position: relative;
  animation: from-top 0.25s;
}

.footer-container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.made-by--text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.made-by--text,
.made-by--text span {
  color: #05386B;
  font-size: 1.5rem;
}

.made-by--text span {
  margin-left: 4px;
}

.heart {
  margin: 0 5px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social--item:first-child {
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */